
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Секреты
.env

# Данные
data/
*.sqlite
*.db
*.xlsx
*.csv

# macOS
.DS_Store

# IDE
.idea/
.vscode/